@using SM.WebUI.Models
@model LoginViewModel
<!--@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">-->
@*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Use a local account to log in.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>*@
<!--</div>
<div class="form-group">-->
@*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
<!--</div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">-->
@*@Html.CheckBoxFor(m => m.RememberMe)
    @Html.LabelFor(m => m.RememberMe)*@
<!--</div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Log in" class="btn btn-default" />
    </div>
</div>
<p>-->
@*@Html.ActionLink("Register as a new user", "Register")*@
<!--</p>-->
@* Enable this once you have account confirmation enabled for password reset functionality
    <p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </p>*@
<!--}
    </section>
</div>
<div class="col-md-4">
    <section id="socialLoginForm">-->
@*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
<!--</section>
    </div>
</div>

}-->


<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body style="box-sizing: border-box; background: #f6f5f7; display: flex; justify-content: center; align-items: center; flex-direction: column; font-family: 'Montserrat', sans-serif; height: 100vh; margin: -20px 0 50px;">

        <div class="container" id="container" style=" background-color: #fff; font-family: 'Poppins';border-radius: 10px; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); position: relative; overflow: hidden; width: 768px; max-width: 100%; min-height: 480px;">

            <div class="form-container sign-in-container" style="position: absolute; top: 100px; margin-left:25px; height: 100%; transition: all 0.6s ease-in-out; left: 0; width: 50%; z-index: 2; ">
                <form action="#" style=" background-color: #FFFFFF; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 50px; height: 100%; text-align: center;">
                    <h1 style="font-weight: bold; margin-left:40px;">Sign in</h1>
                    @*<div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>*@

                    <span style="display: block; font-weight: 500; margin-bottom: 5px">EmailId</span>
                    <input type="text" name="Email" style=" background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width:80%;" />
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                    <span style="display: block; font-weight: 500; margin-bottom: 5px;">Password</span>
                    <input type="password" name="Password" style=" background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 80%;" />
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    @*<a style=" border: 1px solid #DDDDDD; border-radius: 50%; display: inline-flex; justify-content: center; align-items: center; margin: 0 5px; height: 40px; width: 80px;">Forgot your password?</a>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" style=" border-radius: 20px; border: 1px solid #FF4B2B; background-color: #FF4B2B; color: #FFFFFF; font-size: 12px; font-weight: bold; padding: 12px 45px; letter-spacing: 1px; text-transform: uppercase; transition: transform 80ms ease-in; " />
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Reset Password", "ForgotPassword")
                    </div>

                </form>
            </div>

            <div class="overlay-container" style=" position: absolute; top: 0; left: 50%; width: 50%; height: 100%; overflow: hidden; transition: transform 0.6s ease-in-out; z-index: 100;">
                <div class="overlay" style=" background: #FF416C; background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); background: linear-gradient(to right, #FF4B2B, #FF416C); background-repeat: no-repeat; background-size: cover; background-position: 0 0; color: #FFFFFF; position: relative; left: -100%; height: 100%; width: 200%; transform: translateX(0); transition: transform 0.6s ease-in-out">
                    <div class="overlay-panel overlay-left" style="position: absolute; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 40px; text-align: center; top: 0; height: 100%; width: 50%; transform: translateX(0); transition: transform 0.6s ease-in-out; transform: translateX(-20%); ">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right" style=" margin-right:45px;position: absolute; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 40px; text-align: center; top: 0; height: 100%; width: 50%; transform: translateX(0); transition: transform 0.6s ease-in-out; right: 0; transform: translateX(0); transform: translateX(10%); ">
                        <h1 style="font-weight: bold; margin: 0;">Hello, Friend!</h1>
                        <p style="font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px;">Enter your personal details and start journey with us</p>
                        @*<button class="ghost"  id="signUp" style=" border-radius: 20px; border: 1px solid #FF4B2B; background-color: #FF4B2B; color: #FFFFFF; font-size: 12px; font-weight: bold; padding: 12px 45px; letter-spacing: 1px; text-transform: uppercase; transition: transform 80ms ease-in;">
                            Sign Up
                            </button>*@
                        <div style=" border-radius: 20px; border: 1px solid #FF4B2B; background-color: #FF4B2B; color: #FFFFFF; font-size: 12px; font-weight: bold; padding: 12px 45px; letter-spacing: 1px; text-transform: uppercase; transition: transform 80ms ease-in;">
                            @Html.ActionLink("SignUp", "Register")
                        </div>
                    </div>
                </div>
            </div>
    </body>
}
</html>

