@model  SM.Core.ViewModel.PostViewModel.PostDetailsViewModel





<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
</head>

    @*<div class="col-md-2">
            <img class="img-responsive" src="~/Content/PostImages/@Model.Post.Image" />
        </div>*@
    @*<div class="col-md-10">
            <dl class="dl-horizontal">


                <dt>
                    @Html.DisplayNameFor(model => model.Post.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Post.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Post.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Post.Description)
                </dd>


                <dt></dt>
                <dd>@Html.ActionLink("Back to List", "Index")</dd>
            </dl>
        </div>*@

    @*<div class="card col-md-10">


            <div class="card-body">
                <h5 class="card-title">@Model.Post.Title</h5>
                <p class="card-text">@Model.Post.Description</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>*@

    @*<div class="card mb-3" style="border:solid" >
            <img class="img-responsive" src="~/Content/PostImages/@Model.Post.Image"  style="width:auto; height:auto;"/>
            <div class="card-body">
                <h5 class="card-title" style="font-size:100px">@Model.Post.Title</h5>
                <p class="card-text">@Model.Post.Description</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>*@

<body style="background-color:#656565">
<div class="col-md-10">


    <div class="col-md-12" style="width:100%; height:450px;padding:10px;margin:10px;border: solid thin black">
        <div class="col-md-12">
            <img class="img-responsive center-block" style="width:auto;height:250px" src="~/Content/PostImages/@Model.Post.Image" />
        </div>
        <hr />
        <div class="col-md-12 text-center" style="color:white">
            <strong>@Model.Post.Title</strong>
        </div>
        <div class="col-md-12" style="color:white">
            <p>@Model.Post.Description</p>
        </div>
        <div class="col-md-12">
            <a href="" class="btn btn-default">Like</a>
        </div>
    </div>


    <div class="card card-outline-secondary my-4 col-md-12" style="width: 100%; height: auto; padding: 10px; margin: 10px; border: solid thin black ">
        <div class="card-header text-center" style="color:white;font-size:50px">
            Post Reviews.
        </div>
        <div class="card-body" style="color:white;font-size:20px"">
            @if (Model.Comments != null && Model.Comments.Count > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    <p>@comment.Text</p>
                    <small class="text-muted">
                        Posted by @*@comment.UserID*@ on @comment.TimeStamp
                    </small>

                    <hr  style="color:black"/>
                }
            }
            else
            {
                <p>There are No Comments on This Post.</p>
            }

        </div>
    </div>
    <div class="card card-outline-secondary my-4 col-md-12" style="width: 100%; height: auto; padding: 10px; margin: 10px; border: solid thin black ">
        <form id="commentForm">
            <input type="text" name="PostID" value="@Model.Post.Id" />
            <div class="form-group">
                <label>Write your Comment</label>
                <textarea class="form-control" rows="3" name="Text" placeholder="Write your comment"></textarea>
            </div>
            <button class="btn btn-success" id="btnComment" type="button"> Leave Your Comment.</button>
        </form>
    </div>
    </div>
    <div class="col-md-12 clearfix"></div>
    </body>

    <script>
    $("#btnComment").click(function ()
    {
        $.ajax({
            url: "@Url.Action("LeaveComment","Home")",
            type:"post",
            data: $("#commentForm").serialize()
        }).done(function (response) {
           /* debugger;*/
            if (response.Success) {
                window.location.reload();
            }
            else {
                swal("Error!", response.Message, "error");
            }
        }).fail(function () {
            swal("Error!", "Error Occured.Please Try Again", "error")
        });
    });

     $("#btnLikes").click(function ()
    {
        $.ajax({
            url: "@Url.Action("LeaveComment","Home")",
            type : "post",
            data: $("#likesForm").serialize()
        }).done(function (response) {
           /* debugger;*/
            if (response.Success) {
                window.location.reload();
            }
            else {
                swal("Error!", response.Message, "error");
            }
        }).fail(function () {
            swal("Error!", "Error Occured.Please Try Again", "error")
        });
    });
    </script>
