@model SM.Core.ViewModel.PostListViewModel

@{
    ViewBag.Title = "Index";
}

@*<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*<table class="table">*@
    @*<tr>

        <th>
            @Html.DisplayNameFor(model => model.Posts.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.NumberOfLikes)
        </th>
        <th></th>
    </tr>*@

    @*@foreach (var item in Model.Posts)
    {*@
        <!--<tr>

            <td>-->
                @*@Html.DisplayFor(modelItem => item.Title)*@
            <!--</td>
            <td>-->
                @*@Html.DisplayFor(modelItem => item.Description)*@
            <!--</td>
            <td>-->
                @*@Html.DisplayFor(modelItem => item.Image)*@
            <!--</td>
            <td>-->
                @*@Html.DisplayFor(modelItem => item.Category)*@
            <!--</td>
            <td>-->
                @*@Html.DisplayFor(modelItem => item.NumberOfLikes)*@
            <!--</td>
            <td id="likesForm">-->
                @*<input type="text" name="PostID" value="@item.Id" />
                <button id="btnLikes" type="button">Like</button>*@
                @*<button onclick="Edit('@item.Id',true)">Like</button>*@
            <!--</td>

            <td>-->
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        <!--</tr>
    }

</table>

<script>

    function Edit(id,like) {
            $.ajax({
                type:"post",
                data:{ id: id, like: like },
                url:'Likes'
            }).done(function (result) {
                var html = ""
                for (var i = 0; i < result.length; i++) {
                    html += '<tr><td>' + result[i].id + '</td><td>' + result[i].numberOfLikes + '</td><td><button onclick="Edit(' + result[i].id + ',true)">Like</button></td></tr>'
                }
                document.getElementsByClassName("table").innerHTML = html;
            });
        }-->
     @*$("#btnLikes").click(function ()
    {
        $.ajax({
            url: "@Url.Action("EditLikes","Index")",
            type:"post",
            data: $("#likesForm").serialize()
        }).done(function (response) {
           /* debugger;*/
            if (response.Success) {
                window.location.reload();
            }
            else {
                swal("Error!", response.Message, "error");
            }
        }).fail(function () {
            swal("Error!", "Error Occured.Please Try Again", "error")
        });
    });*@

<!--</script>-->
    <html lang="en">
    <head>
        <title>Andrea - Free Bootstrap 4 Template by Colorlib</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/PostIndex/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/PostIndex/animate.css">
        <link rel="stylesheet" href="~/Content/PostIndex/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Content/PostIndex/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/Content/PostIndex/magnific-popup.css">
        <link rel="stylesheet" href="~/Content/PostIndex/aos.css">
        <link rel="stylesheet" href="~/Content/PostIndex/ionicons.min.css">
        <link rel="stylesheet" href="~/Content/PostIndex/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/Content/PostIndex/jquery.timepicker.css">
        <link rel="stylesheet" href="~/Content/PostIndex/flaticon.css">
        <link rel="stylesheet" href="~/Content/PostIndex/icomoon.css">
        <link rel="stylesheet" href="~/Content/PostIndex/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js" nonce="e503e4b5-77ba-4d70-a16c-390a1085a5fc"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script defer="" referrerpolicy="origin" src="/cdn-cgi/zaraz/s.js?z=JTdCJTIyZXhlY3V0ZWQlMjIlM0ElNUIlNUQlMkMlMjJ0JTIyJTNBJTIyQW5kcmVhJTIwLSUyMEZyZWUlMjBCb290c3RyYXAlMjA0JTIwVGVtcGxhdGUlMjBieSUyMENvbG9ybGliJTIyJTJDJTIyeCUyMiUzQTAuMjY5MTE2NDYxNjM4MDU3MjUlMkMlMjJ3JTIyJTNBMTkyMCUyQyUyMmglMjIlM0ExMDgwJTJDJTIyaiUyMiUzQTkxOSUyQyUyMmUlMjIlM0ExNDAzJTJDJTIybCUyMiUzQSUyMmh0dHBzJTNBJTJGJTJGcHJldmlldy5jb2xvcmxpYi5jb20lMkZ0aGVtZSUyRmFuZHJlYSUyRiUyMiUyQyUyMnIlMjIlM0ElMjIlMjIlMkMlMjJrJTIyJTNBMjQlMkMlMjJuJTIyJTNBJTIyVVRGLTglMjIlMkMlMjJvJTIyJTNBLTMzMCUyQyUyMnElMjIlM0ElNUIlN0IlMjJtJTIyJTNBJTIyc2V0JTIyJTJDJTIyYSUyMiUzQSU1QiUyMjAlMjIlMkMlMjJVJTIyJTJDJTdCJTIyc2NvcGUlMjIlM0ElMjJwYWdlJTIyJTdEJTVEJTdEJTJDJTdCJTIybSUyMiUzQSUyMnNldCUyMiUyQyUyMmElMjIlM0ElNUIlMjIxJTIyJTJDJTIyQSUyMiUyQyU3QiUyMnNjb3BlJTIyJTNBJTIycGFnZSUyMiU3RCU1RCU3RCUyQyU3QiUyMm0lMjIlM0ElMjJzZXQlMjIlMkMlMjJhJTIyJTNBJTVCJTIyMiUyMiUyQyUyMi0lMjIlMkMlN0IlMjJzY29wZSUyMiUzQSUyMnBhZ2UlMjIlN0QlNUQlN0QlMkMlN0IlMjJtJTIyJTNBJTIyc2V0JTIyJTJDJTIyYSUyMiUzQSU1QiUyMjMlMjIlMkMlMjIyJTIyJTJDJTdCJTIyc2NvcGUlMjIlM0ElMjJwYWdlJTIyJTdEJTVEJTdEJTJDJTdCJTIybSUyMiUzQSUyMnNldCUyMiUyQyUyMmElMjIlM0ElNUIlMjI0JTIyJTJDJTIyMyUyMiUyQyU3QiUyMnNjb3BlJTIyJTNBJTIycGFnZSUyMiU3RCU1RCU3RCUyQyU3QiUyMm0lMjIlM0ElMjJzZXQlMjIlMkMlMjJhJTIyJTNBJTVCJTIyNSUyMiUyQyUyMjUlMjIlMkMlN0IlMjJzY29wZSUyMiUzQSUyMnBhZ2UlMjIlN0QlNUQlN0QlMkMlN0IlMjJtJTIyJTNBJTIyc2V0JTIyJTJDJTIyYSUyMiUzQSU1QiUyMjYlMjIlMkMlMjI4JTIyJTJDJTdCJTIyc2NvcGUlMjIlM0ElMjJwYWdlJTIyJTdEJTVEJTdEJTJDJTdCJTIybSUyMiUzQSUyMnNldCUyMiUyQyUyMmElMjIlM0ElNUIlMjI3JTIyJTJDJTIyMSUyMiUyQyU3QiUyMnNjb3BlJTIyJTNBJTIycGFnZSUyMiU3RCU1RCU3RCUyQyU3QiUyMm0lMjIlM0ElMjJzZXQlMjIlMkMlMjJhJTIyJTNBJTVCJTIyOCUyMiUyQyUyMjUlMjIlMkMlN0IlMjJzY29wZSUyMiUzQSUyMnBhZ2UlMjIlN0QlNUQlN0QlMkMlN0IlMjJtJTIyJTNBJTIyc2V0JTIyJTJDJTIyYSUyMiUzQSU1QiUyMjklMjIlMkMlMjI2JTIyJTJDJTdCJTIyc2NvcGUlMjIlM0ElMjJwYWdlJTIyJTdEJTVEJTdEJTJDJTdCJTIybSUyMiUzQSUyMnNldCUyMiUyQyUyMmElMjIlM0ElNUIlMjIxMCUyMiUyQyUyMjglMjIlMkMlN0IlMjJzY29wZSUyMiUzQSUyMnBhZ2UlMjIlN0QlNUQlN0QlMkMlN0IlMjJtJTIyJTNBJTIyc2V0JTIyJTJDJTIyYSUyMiUzQSU1QiUyMjExJTIyJTJDJTIyLSUyMiUyQyU3QiUyMnNjb3BlJTIyJTNBJTIycGFnZSUyMiU3RCU1RCU3RCUyQyU3QiUyMm0lMjIlM0ElMjJzZXQlMjIlMkMlMjJhJTIyJTNBJTVCJTIyMTIlMjIlMkMlMjIxJTIyJTJDJTdCJTIyc2NvcGUlMjIlM0ElMjJwYWdlJTIyJTdEJTVEJTdEJTJDJTdCJTIybSUyMiUzQSUyMnNldCUyMiUyQyUyMmElMjIlM0ElNUIlMjIxMyUyMiUyQyUyMjMlMjIlMkMlN0IlMjJzY29wZSUyMiUzQSUyMnBhZ2UlMjIlN0QlNUQlN0QlNUQlN0Q="></script>
        <script nonce="e503e4b5-77ba-4d70-a16c-390a1085a5fc">(function (w, d) { !function (bv, bw, bx, by) { bv[bx] = bv[bx] || {}; bv[bx].executed = []; bv.zaraz = { deferred: [], listeners: [] }; bv.zaraz.q = []; bv.zaraz._f = function (bz) { return function () { var bA = Array.prototype.slice.call(arguments); bv.zaraz.q.push({ m: bz, a: bA }) } }; for (const bB of ["track", "set", "debug"]) bv.zaraz[bB] = bv.zaraz._f(bB); bv.zaraz.init = () => { var bC = bw.getElementsByTagName(by)[0], bD = bw.createElement(by), bE = bw.getElementsByTagName("title")[0]; bE && (bv[bx].t = bw.getElementsByTagName("title")[0].text); bv[bx].x = Math.random(); bv[bx].w = bv.screen.width; bv[bx].h = bv.screen.height; bv[bx].j = bv.innerHeight; bv[bx].e = bv.innerWidth; bv[bx].l = bv.location.href; bv[bx].r = bw.referrer; bv[bx].k = bv.screen.colorDepth; bv[bx].n = bw.characterSet; bv[bx].o = (new Date).getTimezoneOffset(); if (bv.dataLayer) for (const bI of Object.entries(Object.entries(dataLayer).reduce(((bJ, bK) => ({ ...bJ[1], ...bK[1] }))))) zaraz.set(bI[0], bI[1], { scope: "page" }); bv[bx].q = []; for (; bv.zaraz.q.length;) { const bL = bv.zaraz.q.shift(); bv[bx].q.push(bL) } bD.defer = !0; for (const bM of [localStorage, sessionStorage]) Object.keys(bM || {}).filter((bO => bO.startsWith("_zaraz_"))).forEach((bN => { try { bv[bx]["z_" + bN.slice(7)] = JSON.parse(bM.getItem(bN)) } catch { bv[bx]["z_" + bN.slice(7)] = bM.getItem(bN) } })); bD.referrerPolicy = "origin"; bD.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(bv[bx]))); bC.parentNode.insertBefore(bD, bC) };["complete", "interactive"].includes(bw.readyState) ? zaraz.init() : bv.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
        <style type="text/css">
            .scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after {
                pointer-events: none !important;
                -webkit-animation-play-state: paused !important;
                animation-play-state: paused !important;
            }
        </style>
        <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/52/8/common.js" nonce="e503e4b5-77ba-4d70-a16c-390a1085a5fc"></script>
        <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/52/8/util.js" nonce="e503e4b5-77ba-4d70-a16c-390a1085a5fc"></script>
    </head>
    <body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
        <div id="colorlib-page">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="js-fullheight" style="height: 919px;">
                <nav id="colorlib-main-menu" role="navigation">
                    <ul>
                        <li class="colorlib-active"><a href="/Home">Home</a></li>
                       
                    </ul>
                </nav>
                <div class="colorlib-footer">
                    <h1 id="colorlib-logo" class="mb-4"><a href="index.html" style="background-image: url(/Content/PostIndex/bg_1.jpg);">Index<span></span></a></h1>
                   
                    <p class="pfooter">
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script>2023 All rights reserved
                    </p>
                </div>
            </aside>
            <div id="colorlib-main">
                <section class="ftco-section ftco-no-pt ftco-no-pb">
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-xl-8 py-5 px-md-5">
                                <div class="row pt-md-4">
                                @foreach (var item in Model.Posts)
                                {
                                <div class="col-md-12">
                                    <div class="blog-entry ftco-animate d-md-flex fadeInUp ftco-animated">
                                        <a href="single.html" class="img img-2" style="background-image: url(/Content/PostImages/@item.Image);"></a>
                                        <div class="text text-2 pl-md-4">
                                            <h3 class="mb-2"><a href="single.html">@item.Title</a></h3>
                                            <div class="meta-wrap">
                                                <p class="meta">
                                                    <span><i class="fa fa-calendar"></i>@item.createdAt</span>
                                                    <span><a href="single.html"><i class="fa fa-folder"></i>@item.Category</a></span>
                                                        <span>@item.NumberOfLikes</span>Likes
                                              
                                                </p>
                                            </div>
                                            <p class="mb-4">@item.Description</p>
                                            <p>
                                                <a href="#" class="btn-custom">
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                }
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="block-27">
                                            <ul>
                                                <li><a href="#">&lt;</a></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">&gt;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 sidebar ftco-animate bg-light pt-5 fadeInUp ftco-animated">
                                <div class="sidebar-box pt-md-4">
                                    <form action="#" class="search-form">
                                        <div class="form-group">
                                            <span class=""> Search By Category</span>
                                            
                                        </div>
                                    </form>
                                </div>
                                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                                    <h3 class="sidebar-heading">Categories</h3>
                                    <ul class="categories">
                                        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
                                        @foreach (var cat in Model.Categories)
                                        {
                                            @Html.ActionLink(cat.CategoryName, "Index", new { Category = cat.CategoryName }, new { @class = Request["Category"] == cat.CategoryName ? "list-group-item active" : "list-group-item" })
                                        }
                                    </ul>
                                </div>
                                
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Tag Cloud</h3>
                                    <ul class="tagcloud">
                                        <a href="#" class="tag-cloud-link">animals</a>
                                        <a href="#" class="tag-cloud-link">human</a>
                                        <a href="#" class="tag-cloud-link">people</a>
                                        <a href="#" class="tag-cloud-link">cat</a>
                                        <a href="#" class="tag-cloud-link">dog</a>
                                        <a href="#" class="tag-cloud-link">nature</a>
                                        <a href="#" class="tag-cloud-link">leaves</a>
                                        <a href="#" class="tag-cloud-link">food</a>
                                    </ul>
                                </div>
                               
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Archives</h3>
                                    <ul class="categories">
                                        <li><a href="#">Decob14 2018 <span>(10)</span></a></li>
                                        <li><a href="#">September 2018 <span>(6)</span></a></li>
                                        <li><a href="#">August 2018 <span>(8)</span></a></li>
                                        <li><a href="#">July 2018 <span>(2)</span></a></li>
                                        <li><a href="#">June 2018 <span>(7)</span></a></li>
                                        <li><a href="#">May 2018 <span>(5)</span></a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Paragraph</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="ftco-loader" class="fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"></circle></svg></div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.animateNumber.min.js"></script>
        <script src="js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
        <script src="js/google-map.js"></script>
        <script src="js/main.js"></script>

        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>
        <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v2b4487d741ca48dcbadcaf954e159fc61680799950996" integrity="sha512-D/jdE0CypeVxFadTejKGTzmwyV10c1pxZk/AqjJuZbaJwGMyNHY3q/mTPWqMUnFACfCTunhZUVcd4cV78dK1pQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;7b3ff11a0ed72dfe&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2023.3.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>

    </body>
    </html>